h1 {
  font-size: 2em;
}

h2 {
  font-size: 2.5em;
}

%button {
  background-color: #F0F3F4;
  color: #334856;
  font-size: 1.5em;
  padding: 0.5em;
  border: 1px solid #334856;
  border-radius: 50px;
  margin-bottom: 0.75em;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
}

.button {
  display: inline-block;
  @extend %button;
  font-size: 1.2em;
}

button {
  @extend %button;
  width: 250px;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}